@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin calc($prop, $val) {
  @each $pre in -webkit-, -moz-, -ms-, -o- {
    #{$prop}: $pre + calc(#{$val});
  }
  #{$prop}: calc(#{$val});
}

@mixin box-shadow($left:4px, $top:4px, $blur:2px, $color:#000, $inset:"") {
      -webkit-filter:$left $top $blur $color #{$inset};
      -moz-filter:$left $top $blur $color #{$inset};
      -o-filter:$left $top $blur $color #{$inset};
      -ms-filter:$left $top $blur $color #{$inset};
      box-shadow:$left $top $blur $color #{$inset};
}

@mixin grayscale($filter:(100%)){ 
  -webkit-filter:$filter;
  -moz-filter:$filter;
  -o-filter:$filter;
  -ms-filter:$filter;
  filter:$filter;
}

@mixin rotate ($transform:rotate(180deg)){	
  -webkit-transform:$transform;
  -moz-transform:$transform;
  -o-transform:$transform;
  -ms-transform:$transform;
  transform:$transform;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

@mixin transform($translate:($x, $y)) {
     -moz-transform: $translate;
       -o-transform: $translate;
      -ms-transform: $translate;
  -webkit-transform: $translate;
          transform: $translate;
}

@mixin transformY ($translateY:($y)) {
     -moz-transform: $translateY;
       -o-transform: $translateY;
      -ms-transform: $translateY;
  -webkit-transform: $translateY;
          transform: $translateY;
}


/// Adds styles for the title of an accordion item. Apply this to the link within an accordion item.
@mixin accordion-title {
  display: block;
  padding: $accordion-item-padding;
  line-height: 1;
  font-size: rem-calc(15);
  color: $rapi-secondary;
  position: relative;
  border-bottom: $accordion-content-border;
  background-color: $light-gray;

  &:hover,
  &:focus {
    background-color: $accordion-item-background-hover;
  }

  @if $accordion-plusminus {
    &::before {
      content: '+';
      position: absolute;
      #{$global-right}: 1rem;
      top: 50%;
      margin-top: -0.5rem;
      color:$rapi-primary;
    }

    .is-active > &::before {
      content: '–';
      color:$rapi-primary;
    }
  }
}

/// Adds styles for accordion content. Apply this to the content pane below an accordion item's title.
@mixin accordion-content {
  padding: $accordion-content-padding;
  display: none;
  border-bottom: $accordion-content-border;
  background-color: white;
  font-size:.8em;
}


