<!-- header -->
<header id="home">
	<!-- orbit -->
	<section class="orbit" role="region" aria-label="muestras" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
	    <ul class="orbit-container">
	        <li class="orbit-slide header__img-1 is-active">
	        	<article class="row">
	        	    <div class="columns text-center">
	        	      <h1>ORGANIZAMOS SU</h1>
	        	      <h1>VIAJE A <span class="light">CHINA</span></h1>
	        	      <ul class="no-bullet">
	        	        <li><i class="fa fa-star"></i> Reservación de hoteles</li>
	        	        <li><i class="fa fa-star"></i> Visite las ferias comerciales</li>
	        	        <li><i class="fa fa-star"></i> Reservación y compra de boletos aéros</li>
	        	      </ul>
	        	      <!-- flecha -->
	        	      <div class="header__arrow-menu menu-centered" id="header__arrow-menu" >
	        	      	<ul class="menu"><a href="#nosotros"><i class="fa fa-angle-double-down fa-3x"></i></a></ul>
	        	      </div>
	        	      <!-- main menu -->
	        	      <div class="header__main-menu menu-centered" id="header__main-menu">
	        	          <ul class="menu">
	        	      	    <li><a  href="#home">Home</a></li>
	        	      	    <li><a href="#nosotros">Nosotros</a></li>
	        	      	    <li><a href="#servicios">Servicios</a></li>
	        	      	    <li><a href="#tracking">Tracking</a></li>
	        	      	    <li><a href="#faqs">FAQS</a></li>
	        	      	    <li><a href="#contacto">Contácto</a></li>
	        	      	    <li><a href="#evento">Evento</a></li>
	        	          </ul>
	        	      </div>
	        	    </div>
	        	</article>
	        </li>
	        <li class="orbit-slide header__img-2">
	        	<article class="row">
	        	    <div class="columns text-center">
	        	      <h1>ORGANIZAMOS SU</h1>
	        	      <h1>VIAJE A <span class="light">EE.UU.</span></h1>
	        	      <ul class="no-bullet">
	        	        <li><i class="fa fa-star"></i> Reservación de hoteles</li>
	        	        <li><i class="fa fa-star"></i> Visite las ferias comerciales</li>
	        	        <li><i class="fa fa-star"></i> Reservación y compra de boletos aéros</li>
	        	      </ul>
	        	      <!-- flecha -->
	        	      <div class="header__arrow-menu menu-centered" id="header__arrow-menu" >
	        	      	<ul class="menu"><a href="#nosotros"><i class="fa fa-angle-double-down fa-3x"></i></a></ul>
	        	      </div>
	        	      <!-- main menu -->
	        	      <div class="header__main-menu menu-centered" id="header__main-menu">
	        	          <ul class="menu">
	        	      	    <li><a  href="#home">Home</a></li>
	        	      	    <li><a href="#nosotros">Nosotros</a></li>
	        	      	    <li><a href="#servicios">Servicios</a></li>
	        	      	    <li><a href="#tracking">Tracking</a></li>
	        	      	    <li><a href="#faqs">FAQS</a></li>
	        	      	    <li><a href="#contacto">Contácto</a></li>
	        	      	    <li><a href="#evento">Evento</a></li>
	        	          </ul>
	        	      </div>
	        	    </div>
	        	</article>
	        </li>
	        <li class="orbit-slide header__img-3">
	        	<article class="row">
	        	    <div class="columns text-center">
	        	      <h1>ORGANIZAMOS SU</h1>
	        	      <h1>VIAJE A <span class="light">PANAMÁ</span></h1>
	        	      <ul class="no-bullet">
	        	        <li><i class="fa fa-star"></i> Reservación de hoteles</li>
	        	        <li><i class="fa fa-star"></i> Visite las ferias comerciales</li>
	        	        <li><i class="fa fa-star"></i> Reservación y compra de boletos aéros</li>
	        	      </ul>
	        	      <!-- flecha -->
	        	      <div class="header__arrow-menu menu-centered" id="header__arrow-menu" >
	        	      	<ul class="menu"><a href="#nosotros"><i class="fa fa-angle-double-down fa-3x"></i></a></ul>
	        	      </div>
	        	      <!-- main menu -->
	        	      <div class="header__main-menu menu-centered" id="header__main-menu">
	        	          <ul class="menu">
	        	      	    <li><a  href="#home">Home</a></li>
	        	      	    <li><a href="#nosotros">Nosotros</a></li>
	        	      	    <li><a href="#servicios">Servicios</a></li>
	        	      	    <li><a href="#tracking">Tracking</a></li>
	        	      	    <li><a href="#faqs">FAQS</a></li>
	        	      	    <li><a href="#contacto">Contácto</a></li>
	        	      	    <li><a href="#evento">Evento</a></li>
	        	          </ul>
	        	      </div>
	        	    </div>
	        	</article>
	        </li>
	        <li class="orbit-slide header__img-4">
	        	<article class="row">
	        	    <div class="columns text-center">
	        	      <h1>ORGANIZAMOS SU</h1>
	        	      <h1>VIAJE A <span class="light">GUATEMALA</span></h1>
	        	      <ul class="no-bullet">
	        	        <li><i class="fa fa-star"></i> Reservación de hoteles</li>
	        	        <li><i class="fa fa-star"></i> Visite las ferias comerciales</li>
	        	        <li><i class="fa fa-star"></i> Reservación y compra de boletos aéros</li>
	        	      </ul>
	        	      <!-- flecha -->
	        	      <div class="header__arrow-menu menu-centered" id="header__arrow-menu" >
	        	      	<ul class="menu"><a href="#nosotros"><i class="fa fa-angle-double-down fa-3x"></i></a></ul>
	        	      </div>
	        	      <!-- main menu -->
	        	      <div class="header__main-menu menu-centered" id="header__main-menu">
	        	          <ul class="menu">
	        	      	    <li><a  href="#home">Home</a></li>
	        	      	    <li><a href="#nosotros">Nosotros</a></li>
	        	      	    <li><a href="#servicios">Servicios</a></li>
	        	      	    <li><a href="#tracking">Tracking</a></li>
	        	      	    <li><a href="#faqs">FAQS</a></li>
	        	      	    <li><a href="#contacto">Contácto</a></li>
	        	      	    <li><a href="#evento">Evento</a></li>
	        	          </ul>
	        	      </div>
	        	    </div>
	        	</article>
	        </li>
	        <!-- bullets -->
	        <nav class="orbit-bullets hide-for-small-only">
		       <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
		       <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
		       <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
		       <button data-slide="3"><span class="show-for-sr">Third slide details.</span></button>
		    </nav>
		    <!-- top menu mobile -->
	    	<section class="top-bar mobile" id="header__menu-mobile">
	            <article class="row"> 
	                <div class="columns top-bar-title">
	                    <span data-responsive-toggle="responsive-menu" data-hide-for="large">
	                      <span class="menu-icon " data-toggle></span>
	    	              <a href="index.html" class="title-bar-title mobile"><img src="{{root}}assets/img/nav__logo-rapicar.png" alt="logo rapicar"></a>
	                    </span>
	                </div>
	                <!-- menu -->
	                <div class="small-12 medium-12 columns" id="responsive-menu">
	                    <!-- top bar left -->
	                    <div class="top-bar-left">
	                		<ul class="dropdown medium-horizontal vertical menu">
	            				<li><a  href="#home">Home</a></li>
	            				<li><a href="#nosotros">Nosotros</a></li>
	            				<li><a href="#servicios">Servicios</a></li>
	            				<li><a href="#tracking">Tracking</a></li>
	            				<li><a href="#faqs">FAQS</a></li>
	            				<li><a href="#contacto">Contácto</a></li>
	            				<li><a href="#evento">Evento</a></li>
	                		</ul>
	                    </div>
	                </div> <!-- /. menu -->
	            </article>
	        </section>
			<!-- main menu fijo -->
			<div class="top-bar show-for-large header__navegacion-fijo" id="header__navegacion-fijo" >
				<div class="menu-centered">
					<ul class="dropdown menu" data-dropdown-menu>
					  <li ><a href="#home" style="background-color:transparent; border:none;"><img src="{{root}}assets/img/nav__logo-rapicar.png" alt="logo rapicar"></a></li>
					  <li><a href="#home">Home</a></li>
					  <li ><a href="#nosotros">Nosotros</a></li>
					  <li><a href="#servicios">Servicios</a></li>
					  <li><a href="#tracking">Tracking</a></li>
					  <li><a href="#faqs">FAQS</a></li>
					  <li><a href="#contacto">Contácto</a></li>
					  <li><a href="#evento">Evento</a></li>
					</ul>
				</div>
			</div>
	    </ul>
	</section>
</header> <!-- /. header -->

<!-- nosotros -->
<section id="nosotros" data-magellan-target="nosotros">
		<!-- escritorio > -->
		<article class="nosotros__tarjetas">
			<div class="expanded row large-collapse show-for-large">
				<div class="columns nosotros__img-1">
					<div class="row align-center">
						<div class="large-10 columns">
							<h1>Nosotros</h1>
							<p>Somos un grupo de empresas que nace con la finalidad de atender toda la logística relacionada con el comercio exterior en Venezuela, nuestra ubicación estratégica en mercados como U.S.A y China nos permiten brindar de forma integral todas las herramientas necesarias para que nuestros clientes alcancen el éxito en sus relaciones de negocios internacionales.</p>
							<div class="flex-video widescreen hide-for-small-only">
							  <iframe width="100%" height="100%" src="https://www.youtube.com/embed/T2tEh_orLRo" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="row">
						<div class="columns nosotros__img-2">
							<h1>Nuestra misión</h1>
							<p>Consolidar la estructura y el crecimiento de los negocios internacionales de nuestros clientes, a través de un servicio personalizado, eficiente, innovador, proactivo y orientado a lograr un adecuado beneficio. </p>
						</div>
					</div>
					<div class="row">
						<div class="columns nosotros__img-3">
							<h1>Nuestra visión</h1>
							<p>Ser reconocidos como empresa de logística integral de negocios internacionales, comprometidos como aliados comerciales estratégicos, facilitadores de la más alta tecnología y con un capital humano comprometido con nuestros clientes.</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<!-- escritorio < -->
		<article class="expanded row hide-for-large">
			<div class="small-12 column nosotros__img-1 mobile">
				<h1>Nosotros</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis exercitationem, accusamus non excepturi vel ipsa quis repudiandae sapiente inventore?</p>
			</div>
			<div class="small-12 column nosotros__img-2 mobile">
				<h1>Nuestra misión</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis exercitationem, accusamus non excepturi vel ipsa quis repudiandae sapiente inventore?</p>
			</div>
			<div class="small-12 column nosotros__img-3 mobile">
				<h1>Nuestra visión</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perferendis exercitationem, accusamus non excepturi vel ipsa quis repudiandae sapiente inventore?</p>
			</div>
		</article>
</section> <!-- /. nosotros -->

<!-- servicios -->
<section id="servicios" data-magellan-target="servicios">
	<!-- logos -->
	<div class="servicios__logos hide-for-small-only">
		<div class="menu-centered">
			<ul class="menu">
				<li><img src="{{root}}assets/img/servicio__logo--rapicar-EEUU-white.png" alt=""></li>
				<li><img src="{{root}}assets/img/servicio__logo--rapicar-CHINA-white.png" alt=""></li>
				<li><img src="{{root}}assets/img/servicio__logo--rapicar-PANAMA-white.png" alt=""></li>
				<li><img src="{{root}}assets/img/servicio__logo--rapicar-Guatemala.png" alt=""></li>
			</ul>
		</div>
	</div>
	<article class="servicios__container hide-for-small-only">
		<!-- containers -->
		<div class="servicio__containers">
			<div class="row">
				<div class="medium-4 large-6 columns">
					<!-- fila-1 -->
					<div class="row fila-1">
						<div class="medium-6 large-6 columns cont-1 text-center"><a data-toggle-focus="aereo" data-tooltip aria-haspopup="true" class="has-tip up" data-disable-hover="false" tabindex="1" title="Click para mostrar"><i class="fa fa-plane fa-3x"></i></a></div>

						<div class="medium-6 large-6 columns cont-2 text-center"><a data-toggle-focus="negocios" data-tooltip aria-haspopup="true" class="has-tip up" data-disable-hover="false" tabindex="1" title="Click para mostrar"><i class="fa fa-credit-card fa-3x"></i></a></div>
					</div>
					<!-- fila-2 -->
					<div class="row fila-2">
						<div class="medium-6 large-6 columns cont-4 text-center"><a data-toggle-focus="maritimo" data-tooltip aria-haspopup="true" class="has-tip up" data-disable-hover="false" tabindex="1" title="Click para mostrar"><i class="fa fa-ship fa-3x"></i></a></div>

						<div class="medium-6 large-6 columns cont-5 text-center"><a data-toggle-focus="otros" data-tooltip aria-haspopup="true" class="has-tip up" data-disable-hover="false" tabindex="1" title="Click para mostrar"><i class="fa fa-certificate fa-3x"></i></a></div>
					</div>
				</div>
				<div class="medium-2 large-6 columns">	
					<!-- fila-3 -->				
					<div class="row fila-3">
						<div class=" large-5 columns cont-6 text-center">
							<div class="hide" id="aereo" data-toggler="hide">
								  <h4>Aéreo</h4>
								  <p>mLorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducius?</p>
							</div>
							<div class="hide" id="negocios" data-toggler="hide">
								  <h4>Negocios</h4>
								  <p>mLorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducius?</p>
							</div>
							<div class="hide" id="maritimo" data-toggler="hide">
								  <h4>Marítimo</h4>
								  <p>mLorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducius?</p>
							</div>
							<div class="hide" id="otros" data-toggler="hide">
								  <h4>Otros</h4>
								  <p>mLorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducimus?
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, ducius?</p>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- barco -->
		<div class="expanded row">
			<div class="servicio__base-barco"></div>
		</div>
		<div class="servicio__barco">
			<img src="{{root}}assets/img/servicio__barco.png" alt="">
		</div>
	</article>
	<!-- accordion mobile -->
	<article class="servicios__container-mobile show-for-small-only">
		<div class="row align-center">
	          <div class="small-10 columns">
	            <h1 class="text-center">Nuestros servicios</h1>
	            <div class="menu-centered">
	            	<ul class="menu">
	            		<li><a><span class="flag-icon flag-icon-um"></span></a></li>
	            		<li><a><span class="flag-icon flag-icon-cn"></span></a></li>
	            		<li><a><span class="flag-icon flag-icon-pa"></span></a></li>
	            		<li><a><span class="flag-icon flag-icon-gt"></span></a></li>
	            	</ul>
	            </div>
	            <ul class="accordion" data-accordion data-allow-all-closed="true">
		              <!-- 1er accordion -->
		              <li class="accordion-item is-active" data-accordion-item>
			                <a class="accordion-title"><i class="fa fa-plane"> </i></a>
			                <div class="accordion-content" data-tab-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, fuga?</div>
		              </li> 
		              <!-- 2er accordion -->
		              <li class="accordion-item" data-accordion-item>
		                <a class="accordion-title"><i class="fa fa-credit-card"> </i></a>
		                <div class="accordion-content" data-tab-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, tenetur! Nisi vero, sapiente praesentium dolore maiores. Ad, doloribus dolorum nemo.</div>
		              </li> 
		              <!-- 3er accordion -->
		              <li class="accordion-item" data-accordion-item>
		                <a class="accordion-title"><i class="fa fa-ship"> </i></a>
		                <div class="accordion-content" data-tab-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo doloribus natus culpa, voluptates maxime itaque cupiditate eius illo alias, tempore.</div>
		              </li>
		              <!-- 4to accordion -->
		              <li class="accordion-item" data-accordion-item>
		                <a class="accordion-title"><i class="fa fa-certificate"> </i></a>
		                <div class="accordion-content" data-tab-content>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis rerum, similique molestiae aut officia quo dolore laudantium optio blanditiis ex.</div>
		              </li>
	            </ul>
	          </div>
	    </div>
	</article>
</section> <!-- /. servicios -->

<!-- tracking -->
<section id="tracking" data-magellan-target="tracking">
	<article class="tracking__container">
		<div class="row">
			<div class="columns">
				<h1>PROXIMANTE</h1>
				<img src="{{root}}assets/img/tracking__icon-img.png" alt="">
				<h3>TRACKING</h3>
				<h5>Rastrea tus paquetes y carga.</h5>
			</div>
		</div>
	</article>
</section> <!-- /. tracking -->

<!-- Faqs -->
<section id="faqs" data-magellan-target="faqs">
	<article class="faqs__container">
		<div class="row align-center">
			<div class="small-10 large-10 columns">
				<h1 class="text-center">Preguntas Frecuentes</h1>
				<!-- faqs accordion -->
				<ul class="accordion" data-accordion data-allow-all-closed="true">
				  <!-- cual es el tiempo a destino -->
				  <li class="accordion-item is-active" data-accordion-item>
				    <a class="accordion-title">¿Cuál es el tiempo a destino?</a>
				    <div class="accordion-content" data-tab-content>
				      <h5>CHINA – VENEZUELA</h5>
				      <p> 
				        • AÉREO: a partir de la entrega de sus productos en nuestros almacenes en Guangzhou, el tiempo de entrega será de aproximadamente quince (15) días hábiles. <br><br>
				        • MARÍTIMO: a partir de la entrega de sus productos en nuestros almacenes en Guangzhou, el tiempo en tránsito es de aproximadamente cuarenta y cinco (45) días continuos, mas diez (10) días hábiles por manejos en China, proceso de nacionalización y despacho en Venezuela.
				      </p>
				    </div>
				  </li> 
				  
				  <!-- la carga viene asegurada -->
				  <li class="accordion-item" data-accordion-item>
				    <a class="accordion-title">¿La carga viene asegurada?</a>
				    <div class="accordion-content" data-tab-content>
				      <p> 
				        Toda carga viene asegurada por un costo adicional sobre el valor (FOB) de la mercancía, el cual corresponde a 1,5% cuando el transporte es aéreo y 1% cuando es marítimo.
				      </p>
				    </div>
				  </li> 

				  <!-- que significa fob, cif, bl, awb -->
				  <li class="accordion-item" data-accordion-item>
				    <a class="accordion-title">¿Qué significa FOB, CIF, BL, AWB?</a>
				    <div class="accordion-content" data-tab-content>
				      <p> 
				          • FOB: Franco a Bordo/ el vendedor entrega la mercancía al buque designado por el cliente en el puerto de embarque. <br>
				          • CIF: Costo, Seguro y Flete/sobre este valor resultante, se calculan los gastos de nacionalización. <br>
				          • BL: Documento de transporte marítimo. <br>
				          • AWB: documento de transporte aéreo. 
				      </p>
				    </div>
				  </li> 

				  <!-- como calculan el flete de mi producto -->
				  <li class="accordion-item" data-accordion-item>
				    <a class="accordion-title">¿Cómo calculan el flete de mi producto?</a>
				    <div class="accordion-content" data-tab-content>
				      <p> 
				        • AÉREO: Se calcula por peso y volumen. <br>
				        • MARÍTIMO: Se calcula por pie cubico.
				      </p>
				    </div>
				  </li> 

				  <!-- ¿En el costo del flete está incluido el despacho a nivel nacional? -->
				  <li class="accordion-item" data-accordion-item>
				    <a class="accordion-title">¿En el costo del flete está incluido el despacho a nivel nacional?</a>
				    <div class="accordion-content" data-tab-content>
				      <p> 
				          No, Rapicar ofrece de forma gratuita el despacho en toda la Gran Caracas. El despacho de su producto al interior del país será bajo previa cotización.
				      </p>
				    </div>
				  </li> 

				  <!-- ¿Rapicar se encarga de tramitar los permisos de mi producto? -->
				  <li class="accordion-item" data-accordion-item>
				    <a class="accordion-title">¿Rapicar se encarga de tramitar los permisos de mi producto?</a>
				    <div class="accordion-content" data-tab-content>
				      <p> 
				        No, todo tipo de tramite relacionado con los permisos de su producto, corresponde ser tramitados por usted.
				      </p>
				    </div>
				  </li> 
				</ul>
			</div>
		</div>
	</article>
</section> <!-- /. Faqs -->

<!-- contacto -->
<section id="contacto" data-magellan-target="contacto">
	<article class="contacto__container">
			<!-- titulo de la seccion -->
			<div class="row">
				<div class="columns text-center">
					<h1 >Conóce nuestras oficinas</h1>
				</div>
			</div>
			<!-- anidacion mapas -->
			<div class="row">
				<!-- inicio de anidacion -->
				<div class="columns">
					<!-- 1era anidacion -->
					<div class="medium-8 large-8 columns">
						<!-- mapa google -->
						<div class="row medium-collapse large-collapse">
							<div class="columns">
								<div class="columns mobile show-for-small-only">
								  <div class="menu-centered">
								  	<ul class="menu">
								  		<li><a><span class="flag-icon flag-icon-um"></span></a></li>
								  		<li><a><span class="flag-icon flag-icon-cn"></span></a></li>
								  		<li><a><span class="flag-icon flag-icon-pa"></span></a></li>
								  		<li><a><span class="flag-icon flag-icon-gt"></span></a></li>
								  	</ul>
								  </div>
								</div>
								<div id="contacto__map">
									<!-- mapa EEUU -->
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3591.038667777941!2d-80.3368520855688!3d25.8352711118581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9bbc7bd3be45d%3A0xb4bc917754dff577!2s8425+NW+68th+St%2C+Miami%2C+FL+33166%2C+EE.+UU.!5e0!3m2!1ses!2sve!4v1460339039447" width="100%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
								
									<!-- mapa china -->
									<iframe class="hide" id="china" data-toggler="hide" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7337.975281993293!2d113.28121887261712!3d23.13412700571925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3402ff2c9457bb3b%3A0xc6dff6625434b12!2sYuexiu%2C+Cant%C3%B3n%2C+Provincia+de+Cant%C3%B3n%2C+China%2C+510060!5e0!3m2!1ses!2sve!4v1460339321923" width="100%" height="280" frameborder="0" style="border:0" allowfullscreen></iframe>
								</div>
							</div>
						</div>
						<!-- mapa fisico -->
						<div class="row medium-collapse large-collapse">
							<div class="columns">
								<div class="contacto__pines">
									<!-- **pines** -->
									<img class="hide-for-small-only" data-interchange="[assets/img/contacto__medium-map-no-bg.png, medium], [assets/img/contacto__large-map-no-bg.png, large]">	
									<!-- EEUU -->
								    <a id="pin-eeuu" class="eeuu" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="EEUU"><i class="fa fa-map-marker fa-2x"></i></a>
								    <!-- CHINA -->
								    <a id="pin-china" class="china" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="CHINA"><i class="fa fa-map-marker fa-2x"></i></a>
								    <!-- PANAMA -->
								    <a id="pin-panama" class="panama" data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="PANAMA"><i class="fa fa-map-marker fa-2x"></i></a>
								    <!-- GUATEMALA -->
								    <a id="pin-guatemala" class="guatemala"  data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="1" title="GUATEMALA"><i class="fa fa-map-marker fa-2x"></i></a>

								    <!-- ** banderas ** -->
								    <ul class="no-bullet">
								    	<!-- EEUU -->
								  		<li><a id="flag-eeuu" data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="1" title="EEUU"><span class="flag-icon flag-icon-um"></span></a></li>
								  		<!-- CHINA -->
								  		<li><a id="flag-china" data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="1" title="CHINA"><span class="flag-icon flag-icon-cn"></span></a></li>
								  		<!-- PANAMA -->
								  		<li><a id="flag-panama" data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="1" title="PANAMA"><span class="flag-icon flag-icon-pa"></span></a></li>
								  		<!-- GUATEMALA -->
								  		<li><a id="flag-guatemala" data-tooltip aria-haspopup="true" class="has-tip left" data-disable-hover="false" tabindex="1" title="GUATEMALA"><span class="flag-icon flag-icon-gt"></span></a></li>
								  	</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- 2da anidacion -->
					<div class="medium-4 medium-collapse large-4 columns">
						<!-- direcciones -->
						<div class="row large-collapse">
							<div class="text-left">
								<div id="contacto__direccion" class="contacto__direccion hide-for-small-only">
										<div class="" id="eeuu" data-toggler="hide">
											<h4>EEUU - Miami</h4>
											<ul class="no-bullet">
												<li><h6>Dirección:</h6>8425 NW, 68th Street, Miami, FL 33166, U.S.A.</li>
												<li><h6>Teléfonos:</h6>(305) 477.30.11 / 477.30.77</li>
												<li><h6>Fax:</h6>(305) 675.23.73</li>
												<li><h6>Email:</h6> tracking@rapicar.com</li>
											</ul>	
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<!-- formulario mobile -->
			<form class="show-for-small-only" action="" id="form">
			    <article class="row align-center">
				      <div class="small-10 columns">
				          <label>Nombre
				            <input type="text" id="nombre" name="nombre" value="" placeholder="ingrese su nombre" required>
				          </label>
				          <label>Email
				            <input type="email" id="email" name="email" value="" placeholder="ingrese su email" required>
				          </label>
			              <label>País destino
			                <input type="text" id="pais-destino" name="pais-destino" value="" placeholder="ingrese" required>
			              </label>
			              <label>País origen
			                <input type="text" id="pais-origen" name="pais-origen" value="" placeholder="ingrese" required>
			              </label>
				          <label>Tipo de Servicio
				            <input type="text" id="subject" name="subject" value="" placeholder="ingrese tipo de servicio" required>
				          </label>
				          <label>Descripción
				            <textarea id="text" name="text" value="" placeholder="" required></textarea>
				          </label>
				          <input type="submit" class="button" value="Enviar">
				      </div>
			    </article> 
			</form> <!-- /. formulario -->
	</article>
</section>

<!-- evento -->
<section id="evento" data-magellan-target="evento">
	<!-- evento container -->
	<article class="evento__container show-for-medium">
		<!-- orbit -->
		<section class="orbit" id="evento__slider" aria-label="muestras" data-orbit data-options="animation:slide; pause_on_hover:true; animation_speed:500; navigation_arrows:true; bullets:false; timer_speed: 3000;">
		    <ul class="orbit-container" id="evento__arreglo">
				<!-- <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
			    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button> -->
			    <!-- twitter -->
			    <li class="orbit-slide is-active evento__twitter">
			    	<div class="row align-center align-middle">
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__1" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__2" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__3" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    	</div>
			    </li>
			    <!-- facebook -->
			    <li class="orbit-slide evento__facebook">
			    	<div class="row align-center align-middle">
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__4" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__5" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__6" class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    	</div>
			    </li>
			    <!-- instagram -->
			    <li class="orbit-slide evento__instagram">
			    	<div class="row align-center align-middle">
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__7"class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__8"class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    		<div class="small-12 medium-4 large-3 columns text-center">
			    			<div id="evento__9"class="evento__post">
			        			<!-- <span class="fa-stack fa-lg">
									<i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
									<i class="fa fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
								</span> -->
								<img class="evento__logo" src="{{root}}/assets/img/header__logo-rapicar.png" alt="">
								<br><br>
								<h5>Loading Social Media <i class="fa fa-refresh fa-spin" aria-hidden="true"></i></h5>
			    			</div>
			    		</div>
			    	</div>
			    </li>
		      </ul>
		</section> <!-- /. orbit -->
	</article>
</section>

{{> form-fijo}}
		
				