/*==============================
=            conctacto            =
==============================*/
.contacto__container{
	background: url(../img/contacto__bg-pattern.png) center center;
    background-repeat: repeat-y-x;
    padding:3.5rem 0rem;
    @include breakpoint(medium only) {
	    padding:3rem 2.2rem 3rem 1rem;
    }
    @include breakpoint(xxlarge) {
	    padding:6rem 2.2rem 6rem 1rem;
    }
    h1{
    	font-family:$primary-font;font-size:2.2rem;color:$rapi-secondary;margin-bottom:2rem;
    	@include breakpoint(small only) {
    	    font-size:1.5rem;
	    }
    	&:before,&:after{
    		display: inline-block;
    	    margin: 0 20px 10px 20px;
    	    height: .1rem;
    	    content: " ";
    	    text-shadow: none;
    	    background-color: $rapi-secondary;
    	    width: 3rem;
    	    @include breakpoint(medium down) {
    	    	display:none;
    	    }
    	}
	}
	iframe{border:.5rem solid $dark-gray !important;}
	.columns{
		&.mobile{
			background-color:$dark-gray;
			// background-color:scale-color($rapi-primary,$lightness: 30%);
			@include border-radius(20px 20px 0px 0px)
		}
	}
	.flag-icon{
		width:2rem;
		height:1.5rem;
		margin-top:.5rem;
	}
}
.contacto__direccion{
	position:relative;
	padding:1rem 1rem;
	height:35.5rem;
	width:100%;
	margin-left:-.5rem;
	overflow:hidden;
	background-color:$light-gray;
	border:.5rem solid $dark-gray;
	// @include box-shadow(4px, 4px, 5px, rgba(0, 0, 0, 0.4));
	@include breakpoint(medium only) {
	    width:15rem;
	    height:33rem;
    }
	ul{
		margin-bottom:20rem;
	}
	li{
		color:$dark-gray;		
	}
	h4{
		font-family:$primary-font;
		color:$rapi-primary;
	}
	h6{
		color:$rapi-secondary;
		font-family:$secondary-font;
		font-weight:bold;
		margin-top:1rem;
	}
}
.contacto__pines{
	position:relative;
	background-color:$rapi-secondary;
	padding:2rem 1rem;
	border:.5rem solid $dark-gray;
	margin-top:-.8rem;
	ul{
		position:absolute;
		top: 2.5rem;
		left:37rem;
		li{margin:.8rem 0rem;}
		@include breakpoint(medium only) {
		    top: 1rem;
			left:24.4rem;
	    }
	}
	img{
		position:relative;
		left:3.5rem;
		@include breakpoint(medium only) {
			left:.1rem;
	    }
	}
	.eeuu,
	.china,
	.panama,
	.guatemala{
		position:absolute;i{color:$rapi-primary;}
		&:hover{
			i{color:$rapi-success;}
		}
	}
	.eeuu{
		top:6.2rem;
		left:10.1rem;
		@include breakpoint(medium only) {
	    	top:5rem;
			left:6rem;
	    }
	}
	.china{
		top:6.8rem;
		left:26.1rem;
		@include breakpoint(medium down) {
	    	top:5.5rem;
			left:18.7rem;
	    }
	}
	.panama{
		top:8rem;
		left:11.3rem;
		@include breakpoint(medium down) {
	    	top:6.5rem;
			left:6.4rem;
	    }
	}
	.guatemala{
		top:7.6rem;
		left:10.8rem;
		@include breakpoint(medium down) {
			top:6.1rem;
			left:5.8rem;
	    }
	}
	@include breakpoint(small only) {
    	    display:none;
    }
}

