.evento__container{
	position: relative;
	z-index:1;
	height:100vh !important;
	background: url(../img/evento__bg-img.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
	// @include calc(height, '100vh - 50px');
	.orbit, .orbit-container{height:100vh !important;}
	//.orbit{border:3px dashed red;}
	.orbit-slide{padding:5rem 0rem;}
	.orbit-slide.evento__twitter{padding:15rem 0rem;}
	.orbit-slide.evento__facebook{padding:8rem 0rem;}
}
.evento__lista-redes{
	hr{color:white;width:150px;border:1px solid;}
	.fa {font-size: 25px;}
	a{color:white;&:hover {color:$rapi-primary;}}
}

// evento__redes
	.eventoRedes__twitter,
	.eventoRedes__facebook,
	.eventoRedes__instagram {
		// padding:5rem 0rem;
	}

.evento__post{
	max-height:31rem;
	padding:.5rem .5rem;
	font-family:$secondary-font;
	background-color:$light-gray;
	@include border-radius(20px 20px 20px 20px);
	@include box-shadow(2px, 4px, 5px, rgba(0, 0, 0, 0.4));
	overflow:hidden;
	@include breakpoint(medium only) {
		max-height:28rem;
	}
	.fa-circle{color:$rapi-secondary;}
	.fa-refresh{color:$rapi-primary;}
	h5{font-family:$secondary-font;color:$dark-gray;}
	p{
		color:$rapi-secondary;
		padding:.2rem .5rem .5rem 1rem;
		margin-top: .5rem;
		font-size: .7rem;			
	}	
	img{@include border-radius(20px 20px 00px 00px);}
	&.evento__post-no-img{
		padding:1.2rem 0rem;
		margin-top:3rem;
		p{font-size:1.2rem;}
		@include breakpoint(medium only) {
			margin-top:5rem;
			p{font-size:.8rem;}
		}
		@include breakpoint(small only) {
			margin-top:3rem;
		}
	}
}

.evento__logo{
	height:3rem;
	width:8rem;
}