/*==============================
=            faqs            =
==============================*/
.faqs__container{
	position: relative;
	padding:3rem 0rem;
	border-bottom:5px solid white;
	background-color:$rapi-secondary;
	@include breakpoint(small only) {
		padding:2rem 0rem;
	}
	@include breakpoint(xxlarge) {
	    padding:8rem 0rem;
	}
	h1{
		font-family:$primary-font;color:$white;margin-bottom:2rem;
		&:before,&:after{
			display: inline-block;
		    margin: 0 20px 10px 20px;
		    height: .1rem;
		    content: " ";
		    text-shadow: none;
		    background-color: $white;
		    width: 3rem;
		    @include breakpoint(medium down) {
		    	display:none;
		    }
		}
	}
	.accordion-content{color:$dark-gray;}
	.accordion-title{color:$rapi-secondary;font-weight:bold;}
	
}