.form-fijo{
		position:fixed;
		top: 93%;
		right:4%;
		width:250px;
		background-color:$light-gray;
		z-index:10000;
		@include border-radius(20px 20px 00px 00px);
		@include box-shadow(2px, 4px, 5px, rgba(0, 0, 0, 0.4));
		@include transition(all 800ms ease);
		@include breakpoint(xxlarge) {
		    top:95.2%;
		}
			&:hover {
				transform:translateY(-475px);
			}
			& .form-fijo__etiqueta{
				background-color:$rapi-primary;
				@include border-radius(20px 20px 00px 00px);
				height:45px;
				margin-bottom:10px;
				h5{
					color:white;
					font-size:bold;
					font-family:$primary-font;
					padding-top: 8px;
					padding-left: 18px;
				}
			}

			.button{
				background-color:$rapi-primary;
			}
}