/*==============================
=            header            =
==============================*/
.orbit-bullets {
	top:-50%;
	right:-46%;
	z-index:5;
	transform:rotate(90deg);
}
.header__img-1,
.header__img-2,
.header__img-3,
.header__img-4{
	height:100vh;
    z-index: 1;
	position: relative;
	border-bottom:6px solid $white;
	padding:15rem 0rem;
	.light{border-bottom:5px solid $rapi-primary;}
	h1{
		color:white;
		font-family:$primary-font;
		font-size:3.5rem;
		letter-spacing: .5rem;
		@include breakpoint(medium only) {
			font-size:1.6rem;
		}
		@include breakpoint(small only) {
			font-size:1.5rem;
		}
	}
	ul{
		margin-top:1.5rem;
	}
	li{
		color:white;
		font-size:1.5rem;
		font-family:$secondary-font;
		.fa{color:$rapi-primary;}
		@include breakpoint(medium only) {
			font-size:1.1rem;
		}
		@include breakpoint(small only) {
			font-size:1rem;
		}
	}
	// border-bottom:5px solid white;
}
.header__img-1{
	background: url(../img/header__bg-img-1.jpg) no-repeat center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size: cover;
    background-attachment: fixed;
    // h1{font-family:'Oswald',700;}
    .row{
    	@include absolute-center;
    }
}
.header__img-2{
	background: url(../img/header__bg-img-2.jpg) no-repeat center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size: cover;
    background-attachment: fixed;
    .row{
    	@include absolute-center;
    }
}
.header__img-3{
	background: url(../img/header__bg-img-3.jpg) no-repeat center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size: cover;
    background-attachment: fixed;
    .row{
    	@include absolute-center;
    }
}
.header__img-4{
	background: url(../img/header__bg-img-4.jpg) no-repeat center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size: cover;
    background-attachment: fixed;
    font-size:3rem;
    .row{
    	@include absolute-center;
    }
}
.header__main-menu{
	text-align:center;
	bottom:8rem;
	font-size:1.5rem;
	.menu{
		a{
			padding-top:.1rem;
			padding-bottom:.1rem;
			color:$white;
			&:hover{color:$rapi-primary;font-family:$primary-font;}
		}
	}
	li~li { 
		border-left: 3px solid $white;
	}
	@include breakpoint(medium down) {
	    display:none;
	}
}
.header__arrow-menu{
	margin:1.5rem 0;
	font-size:1.5rem;
	.fa{
		color:$rapi-primary;
	}
	@include breakpoint(medium only) {
		font-size:1rem;
		.fa{color:$white;}
	}
	@include breakpoint(small only) {
		margin:.1rem 0;
	}
}
.top-bar{
	position:fixed;
	top:0;
	z-index:9999;
	width:100%;
	padding:0.1rem !important;
	@include breakpoint(large) {
	    display:none;
	}
}
.top-bar.header__navegacion-fijo{
	background-color:$rapi-primary;
	height:3rem;
	.menu{
		background-color:$rapi-primary;
		margin-top:-.1rem;
		a{
			color:$white;
			&:hover{
				border:2px solid $white;
			}
		}
	}
}
.top-bar.mobile{
	background-color:$rapi-primary;
	@include breakpoint(medium down) {
		padding:.5rem 0rem !important;
	}
	ul{
		background-color:$rapi-primary;
		margin:1rem 0rem 0rem 1.6rem;
		a{color:$white;}
	}
}
.title-bar-title.mobile{
	margin-left:1rem;
}

