.nosotros__info-seccion,
.servicios__info-seccion {
		position:absolute;
		padding:1rem;
		height:3rem;
		width:8rem;
		z-index:10;
		top: 50%;
		left:-3rem;
		color:$white;
		background-color: $rapi-primary;
		text-align: center;
		@include rotate ($transform:rotate(-90deg));
		@include border-radius(00px 00px 20px 20px);
		p{font-family:$primary-font;margin:0rem 0rem 0rem 0rem !important;}
}
.servicios__info-seccion{top:40%;}