/*==============================
=            nosotros            =
==============================*/
.nosotros__tarjetas{
    position:relative;
    @include calc(height, '100vh - .2rem');
}

.nosotros__img-1,
.nosotros__img-2,
.nosotros__img-3{
	// position: relative;
    h1,
    p{
        color:$white;
        margin-bottom:1.5rem;
    }
    h1{font-family:$primary-font; letter-spacing: .3rem;}
    p{font-family:$secondary-font;}
}

.nosotros__img-1{
	background: url(../img/nosotros__pattern-bg.png) center center;
    padding:3.2rem 0rem;
    text-align:center;
    background-repeat: repeat-y-x;
    border-right:.5rem solid $white;
    @include breakpoint(xxlarge) {
        padding:10rem 0rem;
        p{margin-bottom:3rem;}
    }
    &.mobile{
        padding:2rem;
        border-right:0rem solid $white;
    }
}
.nosotros__img-2{
    // height:23.5em;
	background: url(../img/nosotros__nuestra-mision__bg-img.jpg) center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size:cover;
    text-align:center;
    padding:4rem 0rem;
    border-bottom:.5rem solid $white;
    p{font-size:1.2rem;}
    &.mobile{
        padding:2rem;
        border-bottom:0rem solid $white;
    }
    @include breakpoint(xxlarge) {
        padding:9rem 0rem;
    }
}
.nosotros__img-3{
	background: url(../img/nosotros__nuestra-vision__bg-img.jpg) center center;
	box-shadow: 0px 0px 0px 1000px rgba(255, 104, 33, 0.4) inset;
    background-size:cover;
    text-align:center;
    padding:3rem 0rem;
    p{font-size:1.2rem;}
    @include breakpoint(xxlarge) {
        padding:7rem 0rem;
    }
    &.mobile{
        padding:2rem;
        border-bottom:6px solid $white;
    }
}