/*==============================
=            servicios            =
==============================*/
.servicios__container{
	position: relative;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
    background-size: cover;
	background: url(../img/servicio__bg-img-2.jpg) no-repeat center center;
	padding-top:4rem;
	@include breakpoint(xxlarge) {
	    padding-top:10rem;
	}
}
.servicios__container-mobile{
	position:relative;
	padding:2rem .2rem;
	background: url(../img/servicio__bg-img-2.jpg) center center;
	box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;
	h1{font-family:$primary-font;color:$white;margin-bottom:.5rem;margin-top:1.2rem;}
	.menu-centered{margin-bottom:.5rem;}
	i.fa-plane,
	i.fa-credit-card,
	i.fa-ship,
	i.fa-certificate{
		font-size:1.3rem;
		color:$rapi-primary;
	}

	i.fa-plane{
		&:after{
			content:"aéreo";
			font-family:$secondary-font;
			font-size:1.2rem;
			color:$rapi-secondary;
			margin-left:1rem;
		}
	} 
	i.fa-credit-card{
		&:after{
			content:"negocios";
			font-family:$secondary-font;
			font-size:1.2rem;
			color:$rapi-secondary;
			margin-left:1rem;
		}
	}
	i.fa-ship{
		&:after{
			content:"marítimo";
			font-family:$secondary-font;
			font-size:1.2rem;
			color:$rapi-secondary;
			margin-left:1rem;
		}
	}
	i.fa-certificate{
		&:after{
			content:"otros";
			font-family:$secondary-font;
			font-size:1.2rem;
			color:$rapi-secondary;
			margin-left:1rem;
		}
	}
	.flag-icon{
		width:2rem;
		height:1.5rem;
		margin-top:.5rem;
	}
}
.servicios__logos{
	position:relative;
	z-index:8;
	background: url(../img/servicios__pattern-logos-3.png) center center;
    background-repeat: repeat-y-x;
    box-shadow: 0px 0px 0px 1000px rgba(43, 73, 128, 0.4) inset;;
	padding:.5rem 0;
	@include breakpoint(medium down) {
	    img{
	    	padding:0 .8rem;
	    }
	}
}

.servicio__barco{
	position:absolute;
	bottom:0rem;
	right:0rem;
}

.servicio__containers{
	position:relative;
	z-index:5;
	// bottom:0rem;
	// left:8rem;
	// width:75rem;
	// @include breakpoint(medium only) {
	//     left:0rem;
	//     bottom:4rem;
	// }
	h4{color:$white;font-family:$primary-font;}
	p{color:$white;font-family:$secondary-font;}
	i.fa-plane,
	i.fa-credit-card,
	i.fa-ship,
	i.fa-certificate{
		color:$white;
		@include breakpoint(medium down) {
		    font-size:2rem;
		}
		&:hover{
			color:$rapi-primary;
		}
		&:after{
			font-size:.4em;
			font-family:$primary-font;
			display:block;
			margin-top:.8rem;
			clear:both;
		}
	}
	i.fa-plane{&:after{content:"aéreo";}}
	i.fa-credit-card{&:after{content:"negocios";}}
	i.fa-ship{&:after{content:"marítimo";}}
	i.fa-certificate{&:after{content:"otros";}}

}

.servicio__base-barco{
	position:relative;
	z-index:10;
	height:5rem;
	width:100%;
	background: url(../img/servicio__bg-pattern-barco.png) center center;
    background-repeat: repeat-y-x;
	border-bottom:1rem solid $white;
}

.fila-1 {
	.cont-1,
	.cont-2,
	.cont-3 {
		padding:4rem 2rem;
		border-bottom:2px solid white;
		height:11.5rem;
		width:100%;
		@include breakpoint(medium down) {
		    height:10rem;
		}
	}
	.cont-1{
		background: url(../img/servicio__contenedor-1.png) no-repeat center center;
		background-size: cover;
	}
	.cont-2{
		background: url(../img/servicio__contenedor-2.png) no-repeat center center;
		background-size: cover;
	}
}
.fila-2 {
	.cont-4,
	.cont-5,
	.cont-6 {
		padding:4rem 2rem;
		height:11.5rem;
		width:100%;
		@include breakpoint(medium only) {
		    height:10rem;
		}
	}
	.cont-4{
		background: url(../img/servicio__contenedor-3.png) no-repeat center center;
		background-size: cover;
	}
	.cont-5{
		background: url(../img/servicio__contenedor-4.png) no-repeat center center;
		background-size: cover;
	}
}

.fila-3{
	.cont-6{
		height:23rem;
		background: url(../img/servicio__contenedor-5.png) no-repeat center center;
		background-size: cover;
		padding-top:3rem;
		overflow:hidden;
		p{margin-bottom:2rem;}
		@include breakpoint(medium only) {
		    height:20rem;
		    font-size:.7rem;
		    padding:1rem 1rem;
		    h4{font-size:1rem;}
		}
	}
}

