/*==============================
=            tracking            =
==============================*/

.tracking__container{
	position: relative;
	border-bottom:5px solid white;
	background-color:$rapi-success;
	padding:15rem 0rem;
	@include calc(height, '100vh - 50px');
	.row{
		@include absolute-center;
	}
	h1,
	h3,
	h5{
		color:$white;
		font-family:$primary-font;
		// margin:3rem 0rem;
		text-align:center;
	}
	h1{font-size:5rem;}
	h3{margin:1rem 1rem;}
	h5{}
	img{margin:0rem 10rem;}

	@include breakpoint(small only) {
		h1{font-size:2rem;}
		img{margin:0rem .1rem;}
		h3{}
	}
	@include breakpoint(medium only) {
		h1{font-size:3rem; margin:.6rem 0rem;}
		img{margin:0rem 2.5rem;}
		h3{margin:1rem 0rem;}
	}
}