<!-- formulario fijo (se puede minimizar la seccion desde aqui) -->
    <section id="form-fijo" class="form-fijo show-for-medium show-for-large" style="padding-left: 0px; padding-right: 0px;">
      <!-- formulario fijo etiqueta -->
      <div class="form-fijo__etiqueta">
        <h5>Contáctanos</h5>
      </div> <!-- /. formulario fijo etiqueta -->
      <!-- formulario -->
      <form  action="" id="form">
            <article class="row">
            <div class="large-12 medium-12 columns">
                <label>Nombre
                  <input type="text" id="nombre" name="nombre" value="" placeholder="ingrese su nombre" required>
                </label>
                <label>Email
                  <input type="email" id="email" name="email" value="" placeholder="ingrese su email" required>
                </label>
                <!-- columnas identadas -->
                <div class="row">
                  <div class="large-6 medium-6 columns">
                    <label>País destino
                      <input type="text" id="pais-destino" name="pais-destino" value="" placeholder="ingrese" required>
                    </label>
                  </div>
                  <div class="large-6 medium-6 columns">
                    <label>País origen
                      <input type="text" id="pais-origen" name="pais-origen" value="" placeholder="ingrese" required>
                    </label>
                  </div>
                </div> <!-- /. columnas identadas -->
                <label>Tipo de Servicio
                  <input type="text" id="subject" name="subject" value="" placeholder="ingrese tipo de servicio" required>
                </label>
                <label>Descripción
                  <textarea id="text" name="text" value="" placeholder="" required></textarea>
                </label>
                <input type="submit" class="button" value="Enviar">
            </div>
          </article> <!-- /. formulario -->
      </form>
    </section>