{{!-- layout index --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
        <!-- metaTags -->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- title -->
        <title>Foundation for Sites</title>
        <!-- global stylesheet -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- CDN foundation 6 stylesheet -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css">
        <!--Plugins externos -->
        <!-- <script src="{{root}}assets/external__js/"></script> -->
        <link rel="stylesheet" href="{{root}}assets/external-css/flag-icon-css-master/css/flag-icon.min.css">
        <!-- custom stylesheet -->
        <link rel="stylesheet" href="{{root}}assets/css/app.css"> 
        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:700|Raleway:300' rel='stylesheet' type='text/css'>
        <!-- polyfill -->
        <script src="{{root}}assets/external-js/modernizr-2.8.3.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
  </head>
  <body>

    {{> body}}
    
    <!-- Jquery js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{root}}assets/external__js/jquery-1.11.3.min.js"><\/script>')</script>
    <!-- CDN foundation js -->
    <script src="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.js"></script>
    <!-- custom js -->
    <script src="{{root}}assets/js/app.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>